BACKEND_URL=<SUBSTITUTE_BACKEND_URL>
MAP_MANAGEMENT_URL=<SUBSTITUTE_MAP_MANAGEMENT_URL>
ROUTE_MANAGEMENT_URL=<SUBSTITUTE_ROUTE_MANAGEMENT_URL>
USER_MANAGEMENT_URL=<SUBSTITUTE_USER_MANAGEMENT_URL>
NAVIGATION_MANAGEMENT_URL=<SUBSTITUTE_NAVIGATION_MANAGEMENT_URL>
SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
